
.sidebar{
    
    width:39.1vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 30px;
    background-color: #0c1117fb;
    /* background-color:  #0c1117; */
}

.sidebar img{
    width: 20px;
}
.sidebar .profile{
    background-color: #dae0e7;
    width:30px ;
    border-radius: 50px;
   
    margin-left: 94px;

}

.sidebar .pro{
    width: 230px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px;
    background-color:#e6eaf1 ;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    border-radius: 15px;
}
.sidebar .history-title{
    color:white;
}

.sidebar .info{
    padding-bottom: 5px;
}
.sidebar .pass{
    color: rgba(255, 47, 47, 0.783);
    padding-left: 20px;
    cursor: pointer;
}
.sidebar .newchat{
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color:#e6eaf1 ;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    border-radius: 15px;
}

.sidebar .history{
    display: flex;
    flex-direction: column;
}

.sidebar .history-title{
    margin-top: 30px;
    margin-bottom: 20px;

}
.sidebar .hist-scroll{
    height: 69vh;
    overflow-y: scroll;
}
.hist-scroll::-webkit-scrollbar{
    display: none;
}
.sidebar .histories{
    
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    background-color:#e6eaf1 ;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    border-radius: 15px;


}

.sidebar .histories:hover{
    background-color: #dae0e7;
}


@media only screen and (max-width: 550px){
    .sidebar{
        display: none;
    }
}